footer {
    background-color: lightblue;
    margin-top: 50px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.footer-logos {
    display: flex;
}

.footer-logos img {
    height: 2rem;
    margin-left: 5px;
}

/* Some logos have bigger margins than the others, so we scale them down */
.small-logo {
    position: relative;
    height: 1.5rem !important;
    top: 5px;
}
