<footer>
    <p><i>Copyright 2025: Bas Lodewijk, ing. Kitty van der Heyden, Koen de
            Ruiter</i></p>
    <div class='footer__logos'>
        <a><img src='static/images/bluesky.svg'
                alt='BlueSky logo'
                class='footer__logos--small'
            /></a>
        <a><img src='static/images/facebook.svg'
                alt='Facebook logo'
            /></a>
        <a><img src='static/images/youtube.svg'
                alt='YouTube logo'
            /></a>
        <a><img src='static/images/instagram.svg'
                alt='Instagram logo'
            /></a>
    </div>
</footer>