.profile-picture {
    border: solid 2px black;
    width: 200px;
    height: 200px;
}

.team-member-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.about-member-text {
    margin: 0 10px 0 10px;
    width: 80%;
}

.team-member-text > p {
    padding-bottom: 10px;
}


@media only screen and (max-width: 500px) {
    .team-member-section {
        display: block;
    }
}