@media only screen and (min-width: 1000px) and (min-height: 500px) {
    .main-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    aside {
        margin-top: 20px;
        margin-right: 20px;
    }

    .scrollable-table {
        max-height: 70vh;
        overflow: auto;
        position: sticky;
        top: 85px;
        scrollbar-width: none;
    }

    .scrollable-table::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    aside {
        margin: 20px;
    }
}

.content-table, .content-table td, .content-table th {
    border: 1px solid black;
}

.header-link {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.opening-hours-table th {
    text-align: right;
}