nav {
    background-color: grey;
    padding: 10px;
    position: sticky;
    top: 0;
}

.nav-link {
    width: 180px;
    height: 25px;
    background-color: lightblue;
    border: solid 2px black;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.nav-link:hover{
    background-color: rgb(0, 140, 255);
}