<footer>
    <p><i>Copyright 2025: Bas Lodewijk, Kitty van der Heyden, Koen de Ruiter</i></p>
    <div class="footer-logos">
      <a href="https://bsky.app" target="_blank"><img src="assets/bluesky.svg" alt="BlueSky logo" class="small-logo"></a>
      <a href="https://facebook.com" target="_blank"><img src="assets/facebook.svg" alt="Facebook logo"></a>
      <a href="https://youtube.com" target="_blank"><img src="assets/youtube.svg" alt="YouTube logo"></a>
      <a href="https://instagram.com" target="_blank"><img src="assets/instagram.svg" alt="Instagram logo"></a>
      <a href="https://tiktok.com" target="_blank"><img src="assets/tiktok.svg" alt="TikTok logo" class="small-logo"></a>
    </div>
</footer>