<footer>
    <p><i>Copyright 2025: Bas Lodewijk, ing. Kitty van der Heyden, Koen de Ruiter</i></p>
    <div class="footer-logos">
      <a href="https://bsky.app" target="_blank"><img src="resources/static/bluesky.svg" alt="BlueSky logo" class="small-logo"></a>
      <a href="https://facebook.com" target="_blank"><img src="resources/static/facebook.svg" alt="Facebook logo"></a>
      <a href="https://youtube.com" target="_blank"><img src="resources/static/youtube.svg" alt="YouTube logo"></a>
      <a href="https://instagram.com" target="_blank"><img src="resources/static/instagram.svg" alt="Instagram logo"></a>
    </div>
</footer>